body {
	font-weight: bolder;
	font-family:  Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}


header{
	background-color: beige;
	display: flex;
	justify-content: space-between;
}


h1 {
	color: #ccc;
}


footer {
	background-color: beige;
}
 

nav {
	text-align: center;
}


#logo {
	font-weight: bolder;
	padding: 3px 20px 30px 60px;
	color: gray;
}


footer {
	color: gray;
	font-weight: normal;
	padding: 50px 0 20px 50px;
	text-align: center;
}


.foot {
	margin-top: 130px;
}

#detailsFoot {
	margin: 300px 0 0 0;
}

nav a {
	color: gray;
	
}

a {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 10px 20px 0 20px;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;

}

#wrapper img {
	width: 100%;
	max-height: 350px;
}

#delivered {
	display: block;
    text-align: center;
}


.common input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label{
	display: block;
	padding-top: 20px;
}


#create {
	margin: 20px 0 0 0;
}


.common {
	display: block;
    text-align: center;
}

.profile {
	padding: 20px 30px 20px 40px;
	text-align: center;
}


.parcelDelivery {
	padding: 20px 30px 20px 40px;
}


#gallery  {
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.trio img {
	width: 300px;
}

.trio figure{
	border: 1px solid #ddd;
	border-radius: 7px;
	padding: 5px;
	text-align: center;
	font-size: smaller;
}

#welcome p {
	text-align: center;
	font-family: "Courier New", Courier, monospace
	font-size: xx-large;
	padding: 15px 10px;
	color: gold;
}
